body,html{padding:0;margin:0}
html{font-family: 'Source Code Pro', monospace;background:#0a4a64;max-height:100vh}

* {box-sizing: border-box;}
  body {min-height: 100vh;display: flex;flex-direction: column;}
.column {
    float: left;
    width: 50%;}
.rowsofstuff:after {display: table;clear: both;}
#main{margin-left: 15%;}
#main h1, #main h2 {margin: auto;color: #ffff;margin-top: 30vh;font-size: 8vh;}
#main h2{font-size: 4vh;margin-top: 3vh;}
.socials{
    margin: auto;
    display: flex;
    padding-top: 5vh;
}
.socials a{
    font-size: 5vh;
    color: #ffff;
    text-decoration: none;
    padding-right: 4vh;
}
.socials a:hover {color:rgba(221, 221, 221, 0.377);}

.nav {overflow: hidden;background: rgb(221, 221, 221);}

  .nav a {
    float: left;
    display:block;
    color: rgb(72, 72, 72);
    text-align: middle;
    padding: 1vh 2vh;
    text-decoration: none;
    font-size: 2vh;}
  
  .nav a:hover, .nav a.active {color: rgb(0, 0, 0);border-bottom: solid;}
  
.nav .icon {display: none;}
#about, #awards, #projects{display: none;height: 80vh;position:relative; color: #ffffff;}
#about h1, #awards h1, #projects h1{font-size: 5vh;padding-top: 4vh;}
table{border: none; width: 60%; table-layout: fixed;}
table a{font-size: 3vh;color: #ffff;text-decoration: underline;}
table a.link{font-size: 2vh;}
table a:hover{color:rgba(221, 221, 221, 0.377);}
table td{padding-left: 4vh; padding-right: 4vh; font-size: 2vh;padding-bottom: 1vh;}

#linksandstuff {margin-left: 10%;margin-top: 7vh;height: 80vh;border-left: 0.5vh solid #ffffff;position: absolute;left: 50%;}
#linksandstuff #link {color: #ffffff;font-size: 3vh;padding-left: 4vh;padding-bottom: 15vh;}
#linksandstuff a {color: #ffffff;}
#linksandstuff a:hover {color:rgba(221, 221, 221, 0.377);}
#linksandstuff #linkfinal {color: #ffffff;font-size: 3vh;padding-left: 4vh;}
footer{padding: 0.02vh 0.02vh;background: rgb(221, 221, 221);text-align: center;position: bottom;bottom: 0;margin-top: auto;font-size: 2vh;}

@media screen and (max-width: 992px) {
    footer{display: none;}
    .column{width: 100%;}
    #main{text-align: center;align-items: center;margin-left: 0;}
    #main h1{margin-top: 20vh;}
    .socials {align-items: center;text-align: center;display:block;}
    .socials a{padding:3.4vh; padding-right: 0;}
    #linksandstuff{margin-left: 0;left: 0;right: 0; text-align: center;align-items: center;border-left: 0;}
    #linksandstuff #link, #linksandstuff #linkfinal {padding-left: 0;}
    .nav a:not(.logo) {padding-right: 10vh; display: none;}
    .nav a.icon{float: right; display: block;}
    .nav a.icon:active, .nav a.icon:hover{border-bottom: none;}
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {position: absolute;right: 0;top: 0;}
    .nav.responsive a {float: none;display: block;text-align: left;}   
    table{width: 100%;}
    table td{padding-left: 2vh; padding-right: 2vh; font-size: 2vh; padding-bottom: 1vh; vertical-align:middle;}
}
