body,html{padding:0;margin:0}
html{font-family: 'Source Code Pro', monospace;background:#0a4a64;height:100%;min-height:460px}
header{
    margin-left:-500px;
    margin-top:-400px;
    position:absolute;
    width:1000px;
    left:50%;
    top:50%}
    h1,h2,h3,h4,h5,h6{
        text-align:center;
        margin:auto;
        color:#ffff;
}
h1{font-size:60px;
    padding-bottom: 60px;
    padding-top: 60px
}
h2,h3,h4,h5{

     font-size:40px;
     margin: auto;
    }

h6{
    margin-top:10px;
    padding-top: 100px;
    font-size:20px}
button{
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #ffff;
    font-family: "Source Code Pro";
    font-size: 50px;border: none;
    text-align: center;color: #0a4a64;}
input{
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #ffff;
    font-family: "Source Code Pro";
    font-size: 50px;border: none;
    text-align: center;color: #0a4a64;

}
input:hover{background-color: #75766f;
    color: #ffff}
.bottom-stuff{
    background-color: #333;
    text-align: center;
    font-size: 13px;
    height: 40px;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;}
.bottom-stuff a{color: #ffff;
    text-align: center}

